/* MY FAVOURITES */
:root {
	--light-green: rgb(227, 248, 238);
	--standard-green: rgb(25, 135, 84);
	--light-rose: rgb(248, 249, 250);
	--dark-purple: rgb(76, 11, 90);
	--headline-font: 'Rock Salt', cursive;
	--neutral-bg: rgb(248, 249, 250);
}

/* BODY */
body {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgb(245, 224, 242);
}

/* NAVBAR */
.navbar .petbook {
	font-family: var(--headline-font);
	font-weight: 900;
	color: var(--dark-purple);
}

/* LOGIN */
.login input {
	max-width: 50%;
}

/* DASHBOARD */

.dashboard {
	max-width: 1400px;
	margin: 2px auto;
}

/* PETS */
.pets {
	background-color: var(--light-green);
	border-radius: 7px;
	padding: 10px 0;
	margin: 20px 0;
}

.pet-container {
	margin: 7px;
}

.pets .pet-list-item {
	display: inline-block;
}

.card-pet {
	width: 12rem;
}

.pet .pet-name {
	font-family: var(--headline-font);
	font-weight: 500;
	color: var(--standard-green);
}

/* USER */
.user-container {
	margin-top: 5px;
	padding: 17px;
	border: 3px solid var(--dark-purple);
	border-radius: 7px;
	box-shadow: 5px 5px 5px var(--dark-purple);
	background-color: var(--neutral-bg);
}

.card-user {
	width: 100%;
}

/* POSTS */
.new-post {
	background-color: var(--light-green);
}

.new-post h1 {
	margin-top: 3px;
	color: var(--standard-green);
	font-weight: 900;
	font-family: var(--headline-font);
}

.newsfeed h1 {
	margin: 30px 0 40px 20px;
	color: var(--dark-purple);
	font-weight: 900;
	font-size: 45px;
	font-family: var(--headline-font);
}

.post-container {
	background-color: var(--light-green);
	border-radius: 7px;
	border: 3px solid var(--standard-green);
	box-shadow: 5px 5px 5px var(--standard-green);
	padding: 17px;
}

/* COMMENTS */
.card-comment {
	width: 27rem;
	max-width: 80%;
}

.new-comment {
	width: 13.5rem;
	max-width: 80%;
}

/* LISTS */
.newsfeed ul,
.profile ul,
.pets ul {
	list-style: none;
}

/* PROFILE */
.profile {
	background-color: var(--neutral-bg);
	width: 100%;
}

.profile-field-name {
	font-weight: bold;
}

/* BUTTONS */
.profile-back-button {
	width: 100%;
	max-width: 100%;
}

.user-button {
	color: var(--light-rose);
	background-color: var(--dark-purple);
}

.user-button:hover {
	color: var(--dark-purple);
	background-color: var(--light-rose);
}

.my-edit-button {
	padding: 4px;
	border-radius: 50%;
	border: 1px solid var(--standard-green);
	background-color: var(--standard-green);
}

.my-edit-button-save {
	padding: 5px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: yellow;
}

.my-edit-button:hover {
	background-color: var(--light-green);
}

/* PICTURE */
.new-picture {
	background-color: var(--light-green);
	width: 260px;
	max-width: 90%;
}

/* FOOTER */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: var(--light-rose);
}

/* LINKS */
.footer a,
.login .create-account-link {
	color: var(--standard-green);
	margin-right: 5px;
	font-weight: bold;
}
