/* MY FAVOURITES */
:root {
	--light-green: rgb(227, 248, 238);
	--standard-green: rgb(25, 135, 84);
	--light-rose: rgb(248, 249, 250);
	--dark-purple: rgb(76, 11, 90);
	--headline-font: 'Rock Salt', cursive;
}

/* BODY */
body {
	min-height: 150vh;
	background-color: rgb(245, 224, 242);
}

/* NAVBAR */
.navbar .petbook {
	font-family: var(--headline-font);
	font-weight: 900;
	color: var(--dark-purple);
}

/* LOGIN */
.login input {
	max-width: 50%;
}

/* PETS */
.pets {
	margin-bottom: 10px;
	background-color: var(--light-green);
}

.pets li {
	display: inline-block;
}

.card-pet {
	width: 12rem;
}

.pet .pet-name {
	font-family: var(--headline-font);
	font-weight: 500;
	color: var(--standard-green);
}

/* USER */
.user-profile-back-button {
	display: block;
	text-align: center;
}

.user-profile-row button {
	width: 100%;
}

.card-user {
	width: 18rem;
}

/* POSTS */
.new-post {
	background-color: var(--light-green);
}

.new-post h1 {
	margin-top: 3px;
	color: var(--standard-green);
	font-weight: 900;
	font-family: var(--headline-font);
}

.newsfeed h1 {
	padding: 10px;
	color: var(--dark-purple);
	font-weight: 900;
	font-family: var(--headline-font);
}

.post-container {
	background-color: var(--light-green);
	border-radius: 7px;
	padding: 7px;
}

/* COMMENTS */
.card-comment {
	width: 27rem;
	max-width: 80%;
}

.new-comment {
	width: 13.5rem;
	max-width: 80%;
}

/* .new-comment-button-container {
	display: grid;
} */

.new-comment-button {
	display: block;
	text-align: center;
}

/* LISTS */
.newsfeed ul,
.user-profile ul,
.pets ul {
	list-style: none;
}

/* PICTURE */
.new-picture {
	background-color: var(--light-green);
	width: 260px;
	max-width: 90%;
}

/* FOOTER */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: var(--light-rose);
}

/* LINKS */
.footer a,
.login .create-account-link {
	color: var(--standard-green);
	margin-right: 5px;
	font-weight: bold;
}
