body {
	min-height: 150vh;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: rgb(248, 249, 250);
}

.newsfeed ul {
	list-style: none;
}

.card-user {
	width: 18rem;
}

.card-post {
	width: 36rem;
	max-width: 80%;
}
